@charset "UTF-8";

/* location.css */

/* 변경된 서브페이지 header 디자인 */

header {
    background-color: rgb(255,255,255);
    border-bottom: 1px solid #ccc;
}
header nav ul.gnb > li > a {
    color: rgb(0,0,0);
}
header nav ul.gnb > li > a:hover {
    color: #234092;
}

/* 상단 탑 */

section.sub-top {
    margin-top: 100px;
    margin-bottom: 100px;
    width: 100%;
    height: 300px;
    padding: 50px 0;
    box-sizing: border-box;

    background-image: url(../img/hnc/sub-top-hnc.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;

    text-align: center;
}
section.sub-top .bread-crumb {
    line-height: 50px;
    border-bottom: thin solid rgba(255,255,255,0.3);
    margin-bottom: 50px;
}
section.sub-top .bread-crumb ul li {
    display: inline-block;
    padding: 0 2px;
    
}
section.sub-top .bread-crumb ul li.on {
    border-bottom: 4px solid rgba(255,255,255,0.8);
}
section.sub-top .bread-crumb ul li~li {
    margin-left: 20px;
}
section.sub-top .bread-crumb ul li a {
    color: rgba(255,255,255,0.3);
    font-size: 1.125rem;
    font-weight: 300;
}

section.sub-top .bread-crumb ul li.on a {
    color: rgba(255,255,255,0.9);
}

section.sub-top .page-title {
    font-size: 2rem;
    font-weight: 500;
    color: rgba(255,255,255,0.9);
}



section.content {
    margin-bottom: 140px;
}
section.content .inbox {
    width: 1200px;
    margin: 0 auto;
}
section.content .company {
    padding: 0 100px;
    margin-bottom: 60px;
}

section.content .company .title {
    font-size: 2.8rem;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 50px;
    color: #222;
}

section.content .company .info {
    /* background-color: #eee; */
}
section.content .company .info > div {
    padding-top: 30px;
    width: 40%; /* 400px */
    float: left;

    position: relative; /* 가상요소 기준! */
}
section.content .company .info > div::before {
    content: "";
    display: block;
    width: 40px;
    height: 6px;
    background-color: #3887C9;

    position: absolute;
    left: 0;
    top: 0;
}
section.content .company .info > div:first-child {
    margin-right: 5%;
}

section.content .company .info > div h4 {
    font-size: 2rem;
    font-weight: 600;
    color: #222;
    margin-bottom: 20px;
}
section.content .company .info > div ul li {
    margin-bottom: 12px;
}
section.content .company .info > div ul li:last-child {
    margin-bottom: 0;
}
section.content .company .info > div ul li p {
    display: inline-block;
    vertical-align: middle;

    font-size: 1.125rem;
    font-weight: 400;
    color: #555;
}
section.content .company .info > div ul li.address p {
    vertical-align: top;
}
section.content .company .info > div ul li p:first-child {
    margin-right: 10px;
    font-weight: 500;
}
section.content .company .info > div ul li p:last-child {
    color: #777;
}



section.content .map {
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 6px #d9d9d9;
}
section.content .map img {
    width: 100%;
    
}